{
  "extends": [
    "@nuxtjs/typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "vue/no-multiple-template-root": "off",
    "vue/valid-template-root": "off",
    "vue/multi-word-component-names": "off"
  }
}
